.myButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: inline-block;
  text-align: center;
}

.myButton:hover {
  background-color: #005bb5;
}
