// styles/variables.scss

// Breakpoints
$breakpoint-xs: 480px; // smartphones
$breakpoint-sm: 600px; // smartphones grandes
$breakpoint-md: 768px; // tablets
$breakpoint-lg: 1024px; // notebooks
$breakpoint-xl: 1280px; // desktops
$breakpoint-2xl: 1536px; // grandes telas

// Exemplo de cores globais (caso queira)
$primary-color: #ffffff;
$secondary-color: #ffffff;
$background-color: #000000;
$text-color: #333;
